<footer class="page__footer">
  <div class="page__footer--llinks">
    <nav>
      <ul>
        <li>
          <a href="#" title="Go to articles">Articles</a>
        </li>
        <li>
          <a href="#" title="Go to books">Books</a>
        </li>
        <li>
          <a href="#" title="Go to events">Events</a>
        </li>
        <li>
          <a href="#" title="Go to reasons">Reasons</a>
        </li>
        <li>
          <a href="#" title="Go to tips">Tips</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="page__footer--links">
    <nav>
      <ul>
        <li>
          <a href="#" title="Go to twitter">Twitter</a>
        </li>
        <li>
          <a href="#" title="Go to instagram">instagram</a>
        </li>
        <li>
          <a href="#" title="Go to mastodon">mastodon.social</a>
        </li>
      </ul>
    </nav>
  </div>

  <div>
    <small>
      &copy; 2017
    </small> 
    <p>we <span class="page__footer--heart">❤︎</span> components</p>
  </div>

</footer>