<footer class="page__footer">
  <div class="left-links">
    <nav>
      <ul>
        <li>
          <a href="#" title="Go to articles">Articles</a>
        </li>
        <li>
          <a href="#" title="Go to books">Books</a>
        </li>
        <li>
          <a href="#" title="Go to events">Events</a>
        </li>
        <li>
          <a href="#" title="Go to reasons">Reasons</a>
        </li>
        <li>
          <a href="#" title="Go to tips">Tips</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="right-links">
    <nav>
      <ul>
        <li>
          <a href="#" title="Go to twitter">Twitter</a>
        </li>
        <li>
          <a href="#" title="Go to instagram">instagram</a>
        </li>
        <li>
          <a href="#" title="Go to mastodon">mastodon.social</a>
        </li>
      </ul>
    </nav>
  </div>
  <small>
    &copy; 2017

    we <3 components
    
  </small>
</footer>
