<header class="page__header">
  <div class="page__header--menu">
    <a href="http://adalab.es" target="_blank" title="Go to Adalab website">
      <img src="/src/images/ico-menu.svg" alt="Menu" title="Menu icon">
    </a>
  </div>
  <div class="page__header--hero">
    <h1>
      Anonymous proxy
    </h1>
    <p>
      In hac habitasse platea dictumst.
    </p>
    <a href="#section2" title="Scroll down">
      <button class="page__header--button">
        <img src="/src/images/ico-scroll-down.svg"  alt="Scroll down">
      </button>
    </a>
  </div>
</header>
