<header class="page__header">
  <a class="page__header--menu" href="http://adalab.es" target="_blank" title="Go to Adalab website">
    <img src="./images/ico-menu.png" alt="Menu icon">
  </a>
  
  <div class="page__header--hero">
    <h1>
      Anonymous Proxy
    </h1>
    <p>
      In hac habitasse platea dictumst.
    </p>
    <a href="#section2" title="Scroll down">
      <button>
        <img src="./images/ico-scroll-down.svg"  alt="Scroll down">
      </button>
    </a>
  </div>
</header>
