/* FONTS */
$font-primary: 'Roboto', sans-serif;

/* COLORS */
$color-primary: white;
$color-secondary: black;
$color-medium: #4a4a4a;
$color-bk1: #eff9ff;
$color-bk2: #304268;
$color-menu: #0271bc;
$color-aux: #8ccbea;