/* FONTS */
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;
$font-size: 16px;
$font-size-h1: 42px;
$font-size-t3: 24px;

/* COLORS */
$color-primary:black;
$color-secondary: white;
$color-medium: #4a4a4a;
$color-bk1: #eff9ff;
$color-bk2: #304268;
$color-menu: #0271bc;
$color-aux: #8ccbea;

/* DEVICE SIZES */
$tablet: 768px;
$pc: 1200px;