.page__header {
  width: 100vw;
  height: 100vh;
  display: flex;
  
  &--menu {
    display: inline-block;
    height: 44px;
    width: 44px;
    background-color: $color-menu;
    position: fixed;
    align-items: center;
        
    & img {
      padding: 15px 14px;
      width: 14px;
    }

  }

  &--hero {
    width: 100%;
    background-image:url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

    h1 {
      color: $color-secondary;
      text-transform: uppercase;
      line-height: 55px;
      font-size: $font-size-h1;
    }

    p {
      color: $color-secondary;
    }

    a {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $color-secondary;
      border-radius: 22.5px;
      align-items: center;
    }

  }
}  
  

 

