.page__header {
  border: 1px solid red;
  height: 568px;
  width: 100 wh;

  &--hero {
    background-image:
      linear-gradient((white, 0.5) 25%, (black)),
      url("http://placekitten.com/568/320");
    height: 568px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
}  
  

 

