.page__header {
  height: 100vw;
  width: 100vh;
  background-image:url(../images/cover.jpg);
  &--hero {
    background-image:
      linear-gradient((white, 0.5) 25%, (black)),
      url("http://placekitten.com/568/320");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
}  
  

 

