html {
  font-size: $font-size;
  font-family: $font-primary;
  font-weight: 400;
  
  h1, h2, h3, h4 {
    font-family: $font-secondary;
    text-transform: capitalize;
  }

}

header, main, footer {
  border: 1px solid pink;
}